<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../fontawesome-5.15.3/css/all.css">
  <link rel="stylesheet" href="../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
 
  <title>Lista - Filial</title>
</head>
<body>
    <header>
      <h2 class="bg-primary">Lista</h2>
    </header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/filial/list">List</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Filial</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container table-responsive">
      
      <table class="table">
        <thead  class="table-dark">
        <tr>

          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Localização</th>
          <th scope="col">Razão Social</th>
          <th scope="col" colspan="2">

  
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Breno Lima</td>
          <td>Senai</td>
          <td>Fiesc</td>
        </tr>

        <tr>
          <th scope="row">1</th>
          <td>Paulo Pbtaistella</td>
          <td>Senai</td>
          <td>Sebrae</td>
        </tr>



        </tbody>
      </table>
    </div>


    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../bootstrap-5.0.0/js/bootstrap.min.js"></script>
    
</body>
</html>